ssh-rsa AAAAB3NzaC1yc2EAAAADAQABAAABAQDIcYi4zwSIBDh/aRf91Yj9FvNp4a5CJSQvMWN8CVioaaLbMjzEI6y8uWHioRkQSfRalsidy5MDVvQozythW2O7SZPb9q4b5G1L+Ns9x7vby9IdyVTWU9dT6dHrVEl46uDL/yc7jKSA6Lut6dp8lQmMqt1M0K6cWm6DqVlOye2iWxglWiM6tXL49Wv+nHj1ac0rvwy/f7S4BAcYmAyFsj7P6NNDrK2GJGwawBjc4w1L1m9eToIPgm+Ug2iqx7dI0TFzG4gQ+NryGou0u9NNI77hgcFb0m+IBVG35YSZD9NxvPzfZFykptdqfRud7UQ4o4ml+JOjEMnqKLVye62btYzh root@ansible
